<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">

	<targets>
		<target xsi:type="File" name="main" fileName="${basedir}/logs/${shortdate}.log" layout="${longdate} | ${callsite} | ${uppercase:${level}} | ${message} ${newline}" />
	</targets>

	<rules>
		<logger name="*" maxlevel="Warn" writeTo="main" />
	</rules>
</nlog>